div#top{
	background-color: aqua
}
div#name{
	color: orange;
	font: times;
}


body{

background-color: aqua;
<div style="width:1000px;">
<div style="height:1000px;">
}
h1{
text-align: center;
color: orange;
	font: times;

}
h2{
text-align: center;
color: orange;
	font: times;
}

}